#gameContainer {
  text-align: center;
}
#gameBoard {
  border: 3px solid;
}
#scoreText {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
}
#resetBtn {
  font-size: 22px;
  font-family: "Permanent Marker", cursive;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
